@mixin tablepadding {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  //padding: 0px 5px 0px 5px;
}
.card {
  .table-heading {
    border-bottom: 2px solid #dee2e6;
    margin-top: 10px;
    .heading {
      font-size: 15px;
      font-weight: 500 !important;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
  .table-data  {
    @include tablepadding;
    border-bottom: 2px solid #dee2e6;
    font-size: 15px;
    font-weight: 300;
  }
  .table-data:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }

  i {
    font-weight: 800;
  }
}

.transaction-label-btn {
  box-shadow: none;
  font-size: 13px;
  margin: 0px;
  padding: 2px 5px;
}
// .sky-button {
//   height: 35px;
//   line-height: 12px;
// }
//
// .completed {
//   color: #00e25b;
// }
// .pending {
//   color: #ff941a;
// }
//
// .sky-border {
//    border: 1px solid #cfc1c1;
//    margin: 15px;
// }
// .table th td {
//    text-align: center;
// }
// .table-wrapper {
//     display: block;
//     max-height: 300px;
//     overflow-y: auto;
//     margin-top: -12px;
//     border-top: none !important;
//     border: 1px solid lightgrey;
// }
// .sky-table {
//   width: 100%;
//   margin-bottom: 100px;
// }
