<div class="container-fluid tabs tran-table card">
  <div class="row table-heading">
      <div class="col icon">
        <div class="heading">
        </div>
      </div>
      <div class="col">
        <div class="heading">
          <a (click)="sortData('paymentStatus')">Payment Status<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col">
        <div class="heading">
        <a (click)="sortData('paymentDate')">Payment Date<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col">
        <div class="heading">
          <a (click)="sortData('merchant')">Merchant<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col">
        <div class="heading">
        <a (click)="sortData('description')">Description<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col">
        <div class="heading">
          <a (click)="sortData('paymentAmount')">Payment Amount<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
  </div>
  <div class="table-content">
    <div *ngFor="let rowData of tableData" (click)="toggle(rowData)">
      <div class="row table-data waves-light">
        <div class="col icon">
          <i *ngIf="rowData.toggle" class="fa fa-minus"></i>
          <i *ngIf="!rowData.toggle" class="fa fa-plus"></i>
        </div>
        <div class="col" (click)="form.show()">
          {{rowData.paymentStatus}}
        </div>
        <div class="col">
          {{rowData.paymentDate}}
        </div>
        <div class="col">
          {{rowData.merchant}}
        </div>
        <div class="col">
          {{rowData.description}}
        </div>
        <div class="col">
          {{rowData.paymentAmount}}
        </div>
      </div>
      <div *ngIf="rowData.toggle" class="accordian-content">
        <div class="row collapse-data accordian-heading">
          <div class="col">
            <div class="">Start</div>
          </div>
          <div class="col">
            <div class="accordian-heading">Tail #</div>
          </div>
          <div class="col">
            <div class="accordian-heading">Origin</div>
          </div>
          <div class="col">
            <div class="accordian-heading">Destination</div>
          </div>
          <div class="col">
            <div class="accordian-heading">Est Hrs.</div>
          </div>
          <div class="col">
            <div class="accordian-heading">Actual Hrs.</div>
          </div>
        </div>
        <div *ngFor="let detail of rowData.detail">
          <div class="row collapse-data">
          <div class="col">{{detail.start}}</div>
          <div class="col">{{detail.tail}}</div>
          <div class="col">{{detail.origin}}</div>
          <div class="col">{{detail.destination}}</div>
          <div class="col">{{detail.estimatedHrs}}</div>
          <div class="col">{{detail.activeHrs}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                     <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                         <span aria-hidden="true">×</span>
                     </button>
                     <h4 class="modal-title w-100" id="myModalLabel">Confirmed Trip Payment</h4>
                 </div>
            <!--Body-->
            <div class="modal-body mb-0">

                <div class="md-form form-sm">
                    <div for="form21"><strong>Broker</strong></div>
                    <div for="form21">Sentient Jet</div>
                </div>
                <div class="md-form form-sm">
                    <div for="form21"><strong>Operator</strong></div>
                    <div for="form21">Sliverhawk Aviation</div>
                </div>
                <div class="md-form form-sm">
                  <div for="form21"><strong>Trip #</strong></div>
                  <mdb-select [options]="optionsSelect" ></mdb-select>
                </div>
                <br>
                <div class="md-form form-sm">
                  <div for="form21"><strong>Quote Amount</strong></div>
                  <input mdbInputDirective type="text" id="form21" class="form-control">
                </div>

                <div class="md-form form-sm">
                  <div for="form21"><strong>Additional Amount</strong></div>
                  <input mdbInputDirective type="text" id="form21" class="form-control">
                </div>

                <div class="md-form form-sm">
                  <div for="form21"><strong>Total Amount</strong></div>
                  <div for="form21">$36,857.00</div>
                </div>

                <div class="md-form form-sm">
                    <div for="form21"><strong>Notes</strong></div>
                    <textarea mdbInputDirective type="text" id="form8" class="md-textarea mb-0"></textarea>
                </div>
                <span style="color: lightgrey; font-size:16px; margin-left: 10px;">Money will be moved from Broker's account to stagin Account</span>
                <div class="text-center mt-1-half">
                    <button class="btn blue-gradient mb-2 waves-light" mdbWavesEffect style="width:100%;">Fund Trip</button>
                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
