<div class="container-fluid">
  <div class="row margin-l">
    <div class="x-small col-sm-3 col-xs-2" *ngFor="let card of cardData">
      <app-card [cardTitle]="card.title" [progressPercent]="" [cardValue]="card.value" [cardIcon]=""></app-card>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-4 pills-secondary white margin'" [contentClass]="''">
         <mdb-tab heading="Confirmed Trip({{tripDetail.confirm}})">
           <div class="row">
             <div class="col-12">
               <div class="table-wrapper">
                  <app-transaction-table [tableData]="tableData"></app-transaction-table>
                </div>
              </div>
           </div>
         </mdb-tab>
         <mdb-tab heading="Completed({{tripDetail.completed}})">
           <div class="row">
             <div class="col-12">
               <div class="px-2 table-wrapper">
                  <app-transaction-table [tableData]="tableData"></app-transaction-table>
                </div>
             </div>
           </div>
         </mdb-tab>
         <mdb-tab heading="Cancelled({{tripDetail.completed}})">
           <div class="row">
             <div class="col-12">
               <div class="px-2 table-wrapper">
                  <app-transaction-table [tableData]="tableData"></app-transaction-table>
                </div>
             </div>
           </div>
         </mdb-tab>
         <mdb-tab heading="General Ledger">
           <div class="row">
             <div class="col-12">
               <div class="px-2 table-wrapper">
                    <flight-cmd-general-ledger-table [tableData]="tableData"></flight-cmd-general-ledger-table>
                </div>
             </div>
           </div>
         </mdb-tab>
       </mdb-tabset>
    </div>
  </div>
</div>
