.table-wrapper {
    display: block;
    //max-height: 300px;
    //overflow-y: auto;
    //margin-top: -12px;
    border-top: none !important;
    border: 1px solid lightgrey;
    //margin-top: -12px;
    // padding-left: 0px !important;
    // padding-right: 0px !important;
}
.sky-table {
  width: 100%;
  margin-bottom: 100px;
}
