.sky-button {
  height: 35px;
  line-height: 12px;
}

.completed {
  color: #00e25b;
}
.pending {
  color: #ff941a;
}

.sky-border {
   border: 1px solid #cfc1c1;
   margin: 15px;
}
.table th td {
   text-align: center;
}
