<div class="container-fluid tabs tran-table card">
  <div class="row table-heading">
      <div class="icon custom-icon">
        <div class="heading">
        </div>
      </div>
      <div class="col">
        <div class="heading">
          <a (click)="sortData('paymentStatus')">Payment Status<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col md-1 px-0">
        <div class="heading">
        <a (click)="sortData('tripDate')">Trip Date<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col-md-1 px-0">
        <div class="heading">
          <a (click)="sortData('operator')">Operator<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col-sm-1 px-0">
        <div class="heading">
        <a (click)="sortData('tripId')">Trip(#)<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col px-0">
        <div class="heading">
          <a (click)="sortData('payment')">Payment(#)<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col-sm-1">
        <div class="heading">
          <a (click)="sortData('estimatedHrs')">Est. Hrs<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col-sm-1">
        <div class="heading">
      <a (click)="sortData('actualHrs')">Act. Hrs<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col">
        <div class="heading">
          <a (click)="sortData('paymentAmount')">Payment Amount($)<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="custom-col">
        <div class="heading">

        </div>
      </div>

  </div>
  <div class="table-content">
    <div *ngFor="let rowData of tableData">
      <div class="row table-data waves-light">
        <div class="icon custom-icon" (click)="toggle(rowData)">
          <i *ngIf="rowData.toggle" class="fa fa-minus"></i>
          <i *ngIf="!rowData.toggle" class="fa fa-plus"></i>
        </div>
        <div class="col">
          <button *ngIf="rowData.paymentStatus === 'New'" type="button" class="btn btn-outline-primary transaction-label-btn">{{rowData.paymentStatus}}</button>
          <button *ngIf="rowData.paymentStatus === 'Funded'" type="button" class="btn btn-outline-secondary transaction-label-btn">{{rowData.paymentStatus}}</button>
          <button *ngIf="rowData.paymentStatus === 'Released'" type="button" class="btn btn-outline-warning transaction-label-btn">{{rowData.paymentStatus}}</button>
        </div>
        <div class="col px-0">
          {{rowData.tripDate}}
        </div>
        <div class="col-md-1 px-0">
          {{rowData.operator}}
        </div>
        <div class="col-sm-1 px-0">
          {{rowData.tripId}}
        </div>
        <div class="col px-0">
          {{rowData.payment}}
        </div>
        <div class="col-sm-1">
          {{rowData.estimatedHrs}}
        </div>
        <div class="col-sm-1">
          {{rowData.actualHrs}}
        </div>
        <div class="col">
          {{rowData.paymentAmount | currencyFormator}}
        </div>
        <div class="custom-col">
          <button *ngIf="activeUrl === '/admin/confirmed-trip'" [disabled]="rowData.paymentStatus ==='Funded'" type="button" class="btn btn-custom-color waves-light payment-btn-info" mdbWavesEffect (click)="show(rowData, 'confirmed')">Fund</button>
          <button *ngIf="activeUrl === '/admin/completed-trip'" [disabled]="rowData.paymentStatus ==='Released'" type="button" class="btn btn-custom-color waves-light payment-btn-info" mdbWavesEffect (click)="show(rowData, 'completed')">Release</button>
          <button *ngIf="activeUrl === '/admin/cancelled-trip'" [disabled]="rowData.paymentStatus ==='New'" type="button" class="btn btn-custom-color waves-light payment-btn-info" mdbWavesEffect (click)="show(rowData, 'cancelled')">Refund</button>
        </div>
        <div *ngIf="rowData.toggle" class="accordian-content">
          <div class="row collapse-data accordian-heading">
            <div class="col">
              <div class="accordian-heading">Start</div>
            </div>
            <div class="col">
              <div class="accordian-heading">Tail #</div>
            </div>
            <div class="col">
              <div class="accordian-heading">Origin</div>
            </div>
            <div class="col">
              <div class="accordian-heading">Destination</div>
            </div>
            <div class="col">
              <div class="accordian-heading">Est Hrs.</div>
            </div>
            <div class="col">
              <div class="accordian-heading">Actual Hrs.</div>
            </div>
          </div>
          <div *ngFor="let detail of rowData.detail">
            <div class="row collapse-data">
            <div class="col">{{detail.start}}</div>
            <div class="col">{{detail.tail}}</div>
            <div class="col">{{detail.origin}}</div>
            <div class="col">{{detail.destination}}</div>
            <div class="col">{{detail.estimatedHrs}}</div>
            <div class="col">{{detail.actualHrs}}</div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
</div>

<!-- modal -->
<div mdbModal #confirmed="mdb-modal" class="modal fade" id="modalContactForm" [config]="{ignoreBackdropClick: true}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
              <h5 class="modal-title w-100 custom-modal-title" id="myModalLabel">Confirmed Trip Payment</h5>
              <span class="pointer" aria-hidden="true" (click)="hide('confirmed')">×</span>
            </div>
            <!--Body-->
            <div class="modal-body custom-modal-body mb-0">
                <div class="md-form form-sm">
                    <div for="form21"><strong>Broker</strong></div>
                    <div for="form21">Sentient Jet</div>
                </div>
                <div class="md-form form-sm">
                    <div for="form21"><strong>Operator</strong></div>
                    <input type="text" [(ngModel)]="operator" name="operator" id="operator" mdbActive class="form-control modal-custom-input">
                </div>
                <!-- <div class="md-form form-sm">
                  <div for="form21"><strong>Trip #</strong></div>
                  <mdb-select [options]="optionsSelect"></mdb-select>
                </div> -->
                <div class="md-form form-sm">
                    <div for="form21"><strong>Trip #</strong></div>
                    <div for="form21">{{trip}}</div>
                </div>
                <div class="md-form form-sm">
                  <input type="text" [(ngModel)]="quote" name="quote" id="quote" mdbActive class="form-control modal-custom-input">
                  <label for="quote">Quote Amount</label>
                </div>

                <div class="md-form form-sm">
                  <input type="number" [(ngModel)]="amount" name="amount" mdbActive id="amount" class="form-control modal-custom-input" (change)="addAmount(amount, rowData)">
                  <label for="amount">Additional Amount</label>
                </div>

                <div class="md-form form-sm">
                  <div for="form21"><strong>Total Amount</strong></div>
                  <div for="form21">{{totalAmount | currencyFormator}}</div>
                </div>

                <div class="md-form form-sm">
                    <textarea type="text" mdbActive id="textarea" class="custom-textarea modal-custom-input md-textarea mb-0"></textarea>
                    <label for="textarea">Notes</label>
                </div>
                <div class="modal-info">Money will be moved from Broker's account to stagin Account</div>
                <div class="text-center mt-1-half">
                    <button class="btn btn-blue mb-2 custom-btn waves-light" mdbWavesEffect (click)="releaseAmount('Funded Successfuly', 'confirmed')">Fund Trip</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<div mdbModal #completed="mdb-modal" class="modal fade" id="modalContactForm" [config]="{ignoreBackdropClick: true}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
              <h4 class="modal-title w-100 custom-modal-title" id="myModalLabel">Completed Trip Payment</h4>
              <span class="pointer" aria-hidden="true" (click)="hide('completed')">×</span>
            </div>
            <!--Body-->
            <div class="modal-body custom-modal-body mb-0">
                <div class="md-form form-sm">
                    <div for="form21"><strong>Broker</strong></div>
                    <div for="form21">Sentient Jet</div>
                </div>
                <div class="md-form form-sm">
                    <div for="form21"><strong>Operator</strong></div>
                    <div for="form21">{{operator}}</div>
                </div>
                <div class="md-form form-sm">
                    <div for="form21"><strong>Trip #</strong></div>
                    <div for="form21">{{trip}}</div>
                </div>
                <div class="md-form form-sm">
                  <div for="form21"><strong>Quote Amount #</strong></div>
                  <div for="form21">{{quote | currencyFormator}}</div>
                </div>

                <div class="md-form form-sm">
                  <input type="number" [(ngModel)]="amount" name="amount" mdbActive id="amount" class="form-control modal-custom-input" (change)="addAmount(amount, rowData)">
                  <label for="amount">Additional Amount</label>
                </div>

                <div class="md-form form-sm">
                  <div for="form21"><strong>Total Amount</strong></div>
                  <div for="form21">{{totalAmount | currencyFormator}}</div>
                </div>

                <div class="md-form form-sm">
                    <textarea type="text" mdbActive id="textarea" class="custom-textarea modal-custom-input md-textarea mb-0"></textarea>
                    <label for="textarea">Notes</label>
                </div>

                <div class="modal-info" *ngIf="additionalAmountFlag == 1">Money will be moved from Staging account to Operator's account</div>
                <div class="modal-info" *ngIf="additionalAmountFlag == 2">Money will be moved from Staging account to Operator's account and the additional amount will be moved from Broker's account to Operator account</div>
                <div class="modal-info" *ngIf="additionalAmountFlag == 3">Money will be moved from Staging account to Operator's account and the additional amount will be moved from Staging account to Broker's account</div>
                <div class="text-center mt-1-half">
                      <button class="btn btn-blue custom-btn mb-2 waves-light" mdbWavesEffect (click)="releaseAmount('Submitted Successfully', 'completed')">Release</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<div mdbModal #cancelled="mdb-modal" class="modal fade" id="modalContactForm" [config]="{ignoreBackdropClick: true}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
              <h4 class="modal-title custom-modal-title w-100" id="myModalLabel">Cancelled Trip Payment</h4>
              <span  class="pointer"  aria-hidden="true" (click)="hide('cancelled')">×</span>
            </div>
            <!--Body-->
            <div class="modal-body custom-modal-body mb-0">

                <div class="md-form form-sm">
                    <div for="form21"><strong>Broker</strong></div>
                    <div for="form21">Sentient Jet</div>
                </div>
                <div class="md-form form-sm">
                    <div for="form21"><strong>Operator</strong></div>
                    <div for="form21">{{operator}}</div>
                </div>
                <div class="md-form form-sm">
                    <div for="form21"><strong>Trip #</strong></div>
                    <div for="form21">{{trip}}</div>
                </div>

                <div class="md-form form-sm">
                  <div for="form21"><strong>Quote Amount</strong></div>
                  <div for="form21">{{quote| currencyFormator}}</div>
                </div>

                <div class="md-form form-sm">
                    <textarea type="text" mdbActive id="textarea" class="custom-textarea modal-custom-input md-textarea mb-0"></textarea>
                    <label for="textarea">Notes</label>
                </div>
                <div class="modal-info">Money will be moved from Staging Account to Broker's account</div>
                <div class="text-center mt-1-half">
                    <button class="btn btn-blue custom-btn mb-2 waves-light" mdbWavesEffect (click)="releaseAmount('Submitted Successfully', 'cancelled')">Release</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<div mdbModal #successed="mdb-modal" class="modal fade" id="modalSuccessForm" [config]="{ignoreBackdropClick: true}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
              <h4 class="modal-title custom-modal-title w-100" id="myModalLabel"> Trip #{{trip}}</h4>
              <span  class="pointer"  aria-hidden="true" (click)="hide('successed')">×</span>
            </div>
            <!--Body-->
            <div class="modal-body custom-modal-body mb-0">
              <div *ngIf="screenName ==='confirmed'">
                <div class="txt-align">
                  Payment Submitted
                </div>
                <br>
                <div class="txt-align txt-13">
                  Payment successfully submitted
                </div>
              </div>
              <div *ngIf="screenName !='confirmed'">
                <div class="txt-align">
                  Release Submitted
                </div>
                <br>
                <div class="txt-align txt-13">
                  Release successfully submitted
                </div>
              </div>
              <div class="md-form form-sm clearfix">
                  <div for="form21">
                    <div class="half-width"><strong>Est. Hrs</strong></div>
                    <div class="half-width"><strong>Funded Amount</strong></div>
                  </div>
                  <div for="form21">
                    <div class="half-width">{{estimatedHrs}}</div>
                    <div class="half-width">{{paymentAmount | currencyFormator}}</div>
                  </div>
              </div>

              <div class="md-form form-sm clearfix" *ngIf="screenName!='confirmed' && screenName!='cancelled'">
                <hr>
                  <div for="form21">
                    <div class="half-width"><strong>Act. Hrs</strong></div>
                    <div class="half-width"><strong>Actual Amount</strong></div>
                  </div>
                  <div for="form21">
                    <div class="half-width">{{actualHrs}}</div>
                    <div class="half-width">{{totalAmount | currencyFormator}}</div>
                  </div>
              </div>
          </div>
            <div class="modal-footer md-f">&nbsp;</div>
        </div>
        <!--/.Content-->
    </div>
</div>
