<div class="container-fluid tabs tran-table card">
  <div class="row table-heading">
      <div class="col icon">
        <div class="heading">
        </div>
      </div>
      <div class="col">
        <div class="heading">
          <a (click)="sortData('paymentStatus')">Payment Status<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col">
        <div class="heading">
        <a (click)="sortData('tripDate')">Trip Date<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col">
        <div class="heading">
          <a (click)="sortData('operator')">Operator<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col">
        <div class="heading">
        <a (click)="sortData('tripId')">Trip#<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col">
        <div class="heading">
          <a (click)="sortData('payment')">Payment#<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col">
        <div class="heading">
          <a (click)="sortData('estimatedHrs')">Est. Hrs<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col">
        <div class="heading">
      <a (click)="sortData('actualHrs')">Act. Hrs<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col">
        <div class="heading">
          <a (click)="sortData('paymentAmount')">All Transaction<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
  </div>
  <div class="table-content">
    <div *ngFor="let rowData of tableData" (click)="toggle(rowData)">
      <div class="row table-data waves-light">
        <div class="col icon">
          <i *ngIf="rowData.toggle" class="fa fa-minus"></i>
          <i *ngIf="!rowData.toggle" class="fa fa-plus"></i>
        </div>
        <div class="col">
          {{rowData.paymentStatus}}
        </div>
        <div class="col">
          {{rowData.tripDate}}
        </div>
        <div class="col">
          {{rowData.operator}}
        </div>
        <div class="col">
          {{rowData.tripId}}
        </div>
        <div class="col">
          {{rowData.payment}}
        </div>
        <div class="col">
          {{rowData.estimatedHrs}}
        </div>
        <div class="col">
          {{rowData.actualHrs}}
        </div>
        <div class="col">
          {{rowData.paymentAmount}}
        </div>
      </div>
      <div *ngIf="rowData.toggle" class="accordian-content">
        <div class="row collapse-data accordian-heading">
          <div class="col">
            <div class="">Start</div>
          </div>
          <div class="col">
            <div class="accordian-heading">Tail #</div>
          </div>
          <div class="col">
            <div class="accordian-heading">Origin</div>
          </div>
          <div class="col">
            <div class="accordian-heading">Destination</div>
          </div>
          <div class="col">
            <div class="accordian-heading">Est Hrs.</div>
          </div>
          <div class="col">
            <div class="accordian-heading">Actual Hrs.</div>
          </div>
        </div>
        <div *ngFor="let detail of rowData.detail">
          <div class="row collapse-data">
          <div class="col">{{detail.start}}</div>
          <div class="col">{{detail.tail}}</div>
          <div class="col">{{detail.origin}}</div>
          <div class="col">{{detail.destination}}</div>
          <div class="col">{{detail.estimatedHrs}}</div>
          <div class="col">{{detail.activeHrs}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
