<header class="clearfix">

    <!-- Navbar -->
    <mdb-navbar SideClass="navbar navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav" [containerInside]="false">
<!--
        <navlinks class="navbar-container">

            <div class="float-left">
                <a (click)="sidenav.show()" class="button-collapse-non-fixed">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

        </navlinks> -->

        <logo>
            <!-- Breadcrumb-->
            <div class="breadcrumbs breadcrumb-dn mr-auto">
                <p>ACME AIR CHARTER</p>
            </div>
            <!--/. Breadcrumb-->
        </logo>

        <navlinks>
            <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius>
                        <i class="fa fa-user-plus"></i>
                        <a [routerLink]="['/admin']"><span class="clearfix d-none d-sm-inline-block">Admin</span></a>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius>
                        <i class="fa fa-user"></i>
                        <a [routerLink]="['/app/broker']"><span class="clearfix d-none d-sm-inline-block">Broker</span></a>
                    </a>
                </li>
                <li class="nav-item dropdown btn-group" dropdown>
                  <a class="nav-link waves-light" mdbRippleRadius>
                      <i class="fa fa-user"></i>
                      <a [routerLink]="['/app/operator']"><span class="clearfix d-none d-sm-inline-block">Operator</span></a>
                  </a>
                </li>
            </ul>
        </navlinks>
    </mdb-navbar>
    <!--/. Navbar -->

</header>
