@mixin tablepadding {
  line-height: 50px;
}
.card {
  .table-heading {
    //padding: 10px 0px 10px 0px;
    border-bottom: 2px solid #dee2e6;
    .heading {
      font-size: 15px;
      font-weight: 400!important;
      @include tablepadding;
    }
  }
  .table-data  {
    @include tablepadding;
    border-bottom: 1px solid #dee2e6;
    font-weight: 300 !important;
    font-size: 15px;
  }
  .table-data:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
}
