<div class="container-fluid tabs tran-table card">
  <div class="row table-heading">
      <div class="col">
        <div class="heading">
        <a (click)="sortData('paymentDate')">Payment Date<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col">
        <div class="heading">
          <a (click)="sortData('merchant')">Merchant<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col">
        <div class="heading">
        <a (click)="sortData('description')">Description<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
      <div class="col">
        <div class="heading">
          <a (click)="sortData('paymentAmount')">Payment Amount<i class="transaction-table fa fa-sort ml-1" ></i></a>
        </div>
      </div>
  </div>
  <div class="table-content">
    <div *ngFor="let rowData of tableData" (click)="toggle(rowData)">
      <div class="row table-data waves-light">
        <div class="col">
          {{rowData.paymentDate}}
        </div>
        <div class="col">
          {{rowData.merchant}}
        </div>
        <div class="col">
          {{rowData.description}}
        </div>
        <div class="col">
          {{rowData.paymentAmount}}
        </div>
      </div>
    </div>
  </div>
</div>
